/home/adonis.cedeno/BCPred/svm
/home/adonis.cedeno/BCPred/3_evaluating
/home/adonis/bcpred/3_evaluating
/home/adonis/bcpred/2_training/aabarplot.pdf
/home/adonis/bcpred/2_training/outliers.R
/home/adonis/bcpred/1_warehousing/invariant_features.txt
/home/adonis/bcpred/1_warehousing/minmax.pkl
/home/adonis/bcpred/1_warehousing/univariant_feature_selection.txt
/home/adonis/bcpred/2_training/gridsearch/firstsecond.pdf
/home/adonis/bcpred/2_training/gridsearch/third.pdf
/home/adonis/bcpred/2_training/gridsearch/scatter.pdf
